
.hero {
    background-image: url('../ecommerce.jpg'); /* Adjust the path to match the image location */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Ensures the background remains fixed while scrolling */
    color: #fff; /* Text color on the hero image */
    text-align: center;
    padding: 100px 0; /* Adjust padding as needed */
    height: 100vh; /* Set the height to 100% of the viewport height */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling for the welcome message */
  .welcome {
    padding: 20px;
    border-radius: 32px;
    max-width: 800px;
    font-family: 'AR One Sans', sans-serif;
    color: black;
}
  
  /* Style for the heading in the welcome message */
  .welcome h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fd3a2b;
  }
  
  /* Style for the description in the welcome message */
  .welcome p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  
  