h1,h2,h3,h4,p{
    font-family: 'AR One Sans', sans-serif;

}
 

  .card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: rgb(239, 239, 239);
    --bs-card-border-radius: 4px;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    /* border: var(--bs-card-border-width) solid var(--bs-card-border-color); */
  }
  
  .card-img, .card-img-top {
    height: 250px;
    object-fit: scale-down;
  }
  @media (max-width: 766px) {
    .card-img, .card-img-top {
      height: 250px;
      width: 100%;
  }
  .card {
    width: 100%;
  }
  }
  
  /* Style the card image container */
  .card-img-container {
    height: 250px; /* Set a fixed height for the image container */
    overflow: hidden; /* Hide any overflow beyond the fixed height */
   
  }
  
  /* Style the card image */
  .card-img {
    width: 100%; /* Ensure the image width fills the container */
    height: 100%; /* Constrain the height to 100% of the container's height */
    object-fit: cover; /* Maintain the image aspect ratio while covering the container */
  }
  
  .card-title {
    font-size: 20px;
    margin: inherit;
    color: #333333;
  }
  
  .card-text {
    font-size: 16px;
    color: #555555;
  }
  
  .card-text a {
    color: #11bae4; /* Red color for seller links */
  }
  
  .card-text a:hover {
    text-decoration: none;
  }
  
  /* Style the "SOLD" badge */
  .text-danger {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Style the pagination */
  .pagination {
    justify-content: center;
    margin-top: 20px;
  }
  
  .navbar {
    width: 100% !important;
  }
  

  .page-item.active .page-link {
    background-color: #11bae4; /* Red color for active page */
    border-color: #ffffff00;
  }
  
  .page-link {
    color: #11bae4; /* Red color for page links */
  }
  
  .page-link:hover {
    color: #11bae4; /* Darker red color on hover */
  }
  .btn-outline-danger {
    background-color: #fd3a2b;   
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #fd3a2b;
    --bs-btn-hover-color: #fd3a2b;
    --bs-btn-hover-bg: #ac0b00;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3970aa;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #dc3545;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dc3545;
    --bs-gradient: none;
  }


.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust this margin to control the spacing from the content above */
  }
  
  /* Optional: Add padding and background color to the pagination element */
  .pagination {
  padding: 10px;
  justify-content: center;
  background-color: #f0f0f0; /* Choose a background color of your choice */
  }
  
  /* Change the color of the pagination buttons */
  .pagination .page-link {
  border-color: #ffffff; /* Change to your desired color */
  color: #6c6c6c; /* Change to your desired text color */
  }
  
  /* Change the shape of the pagination buttons to rounded */
  .pagination .page-item {
  border-radius: 50%; /* Makes the buttons circular */
  margin: 0 5px; /* Adjust the margin for spacing between buttons */
  }
  
  /* Style the active pagination button */
  .pagination .page-item.active .page-link {
  border-radius: 22px;
  background-color: #ffffff;  
  box-shadow: 0px 1px 2px -1px;
  width: 36px;
  height: 36px;
  }
  
  
  
  