

/* Style for the user's profile picture */
.img-fluid {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
    
    /* Style for the user's information */
    h2 {
    font-size: 24px;
    margin-top: 10px;
    font-family: 'AR One Sans', sans-serif;

    }
    
    p {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'AR One Sans', sans-serif;

    }
    
    /* Style for the "Items for Sale" section */
    h3 {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'AR One Sans', sans-serif;

    }
    
    ul {
    list-style-type: none;
    padding: 0;
    }
    
    li {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'AR One Sans', sans-serif;

    }
    
    /* Style for the link to item detail pages */
    a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
    }
    
    a:hover {
    color: #0056b3;
    }
    
     .no-items-message {
    color: #777;
    }
    
    