{% extends 'base.html' %}
{% load static %}

{% block content %}


 
  <div class="container my-5">
    <h1 class="text-center mb-4">FAQ</h1>

    <div class="row">
      {% for faq in faqs %}
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ faq.question }}</h5>
              <br>
              <p class="card-text">Answer: {{ faq.answer }}</p>
             </div>
          </div>
        </div>
        
      {% empty %}
        <p class="text-center">No FAQs available.</p>
      {% endfor %}
    </div>
  </div>

  
{% endblock %}
