{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/inbox.css' %}">

{% block content %}
<body>
    <div class="container">
        {% if received_messages %}
            {% for message in received_messages %}
                <div class="message">
                    <p class="sender">{{ message.sender.username }}</p>
                    <p>{{ message.content }}</p>
                    <p class="timestamp">{{ message.timestamp }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No messages</p>
        {% endif %}
    </div>
    {% endblock %}
