{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />

<h1 class="profile-name">{{ user.username }}</h1>

  
 

<!-- Profile Info -->
<div class="items-section profile-info-section">
    <hr>
    <h2>User Profile Information</h2>
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save-button">Save</button>
  </form>
</div>
<br>    
<hr>
<div class="profile-container"></div>
<!-- Selling Items -->
<div class="items-section">
  <h2 class="section-heading"><i class="fas fa-shopping-cart"></i> Selling Items</h2>
  <div class="scrollable-container">
    {% for item in seller_items %}
    <div class="item">
    
      <h3 class="item-name">{{ item.name }}</h3>
      <p class="item-description">{{ item.description }}</p>
      <p class="item-price">Price: ${{ item.price }}</p>
       <!-- Mark as Sold Button -->
      {% if user.is_authenticated and item.seller == user %}
      <!-- Edit and Delete Buttons for the item owner -->
      <div class="item-actions">
        <a class="action-button edit-button" href="{% url 'edit_item' item.id %}">Edit</a>
        <form method="POST" action="{% url 'mark_as_sold' item.id %}">
          {% csrf_token %}
          <button type="submit" class="action-button mark-as-sold-button">Mark as Sold</button>
        </form>
        <form method="post" action="{% url 'delete_item' item.id %}">
          {% csrf_token %}
          <button type="submit" class="action-button delete-button">Delete</button>
        </form>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- Sold Items -->
<div class="items-section">
  <h2 class="section-heading"><i class="fas fa-check-circle"></i> Sold Items</h2>
  <div class="scrollable-container">
    {% for product in sold_items %}
    <div class="item">
      <h3 class="item-name">{{ product.name }}</h3>
      <p class="item-description">{{ product.description }}</p>
      <p class="item-price">Price: ${{ product.price }}</p>
       </div>
    {% endfor %}
  </div>
</div>
</div>
<script type="text/javascript" src="{% static 'static/js/countryfield.js' %}"></script>
{% endblock %}