 
.profile-header {
  display: flex;
  align-items: center;
}

body{
    background-color: white;
}

 
.profile-name {
  font-size: 24px;
  color: #333;
}

.profile-info {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.rounded-0 {
    border: 1px solid;
    width: 229px;
}
.profile-info input[type="text"],
.profile-info input[type="password"],
.profile-info input[type="email"],
.profile-info textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.save-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #0056b3;
}

.profile-info-section{
    margin-left: 38%;
}

.items-section {
  margin-top: 20px;
}

.section-heading {
  font-size: 20px;
  color: #007BFF;
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
}

.item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.item-name {
  font-size: 18px;
  color: #333;
}

.item-description {
  color: #777;
}

.item-price {
  font-weight: bold;
  margin-top: 5px;
}

.action-button {
  display: inline-block;
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.edit-button {
  background-color: #17A2B8;
}

.mark-as-sold-button {
  background-color: #17A2B8;
}

.delete-button {
  background-color: #DC3545;
}


#id_default_country{
    word-wrap: normal;
    width: 229px !important;
}

.select{
    word-wrap: normal;
    width: 229px !important;
}