/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 

hr {
    border: 1px solid #000;
    margin: 20px 0;
}

.logo-font {
    font-size: 28px;
    color: #333;
}

.text-black {
    color: #333;
}

.order-confirmation-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

.row {
    margin-bottom: 10px;
}

.text-muted {
    color: #777;
}

.text-md-right {
    text-align: right;
}

.font-weight-bold {
    font-weight: bold;
}

.btn-black {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-black:hover {
    background-color: #333;
}
